@mixin flex-column-cAlign-cJustify {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-column-cJustify-cAlign {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-cAlign-cJustify {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-cJustify-cAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container-padding {
  padding: 0px 20px;
}

@mixin img-p-container {
  @include container-padding;
  text-align: center;
  h1 {
    font-weight: 700;
    line-height: 48px;
    color: black;
    margin-top: 5px;
  }
  img {
    max-width: 208px;
  }
}

@mixin flex-cAlign {
  display: flex;
  align-items: center;
}

@mixin flex-cJustify {
  display: flex;
  justify-content: center;
}