.customCarousel {
  width: 100%;
  &__item {
    &__img {
      width: 100%;
      height: 30vh;
      max-height: 240px;
      background-size: cover !important;
    }
    p {
      margin-bottom: 35px;
      overflow: auto;
    }
    button {
      padding: 16px 60px;
    }
    padding-bottom: 65px;
  }
  .dot {
    &.selected {
      background: $skyBlue !important;
    }
    width: 24px !important;
    height: 24px !important;
    background: black !important;
    margin: 0 18px !important;
  }

  @media(min-width: $maxMobileWidth) {
    &__item {
      padding: 0px 10px;
      p {
        margin-bottom: 0px;
        height: 100px;
      }
    }
    .carousel-slider {
      min-height: 530px;
    }
    position: absolute;
    width: 100vw;
    left: $leftOffsetNonMobile;
  }

  @media (min-width: $maxTabletWidth) {
    left: $leftOffsetNonTablet;
    &__item {
      padding: 0px 80px;
    }
  }
}