@font-face {
  font-family: Space-Mono-Bold;
  src: url('./assets/fonts/space-mono/SpaceMono-Bold.ttf');
}

@font-face {
  font-family: Space-Grotesk-Regular;
  src: url('./assets/fonts/space-grotesk/static/SpaceGrotesk-Regular.ttf');
}

$lightBlue: #F4FCFF;
$skyBlue: #88B2FF;
$headerBlue: #2081C3;
$green: #52A435;

$maxMobileWidth: 490px;
$maxTabletWidth: 840px;

// 60vw max width of container + 40px from padding
$leftOffset: calc(-1*(100vw - (60vw + 40px))/2);

// tablets
$leftOffsetNonMobile: calc(-1*(100vw - (480px + 40px))/2);

// desktop
$leftOffsetNonTablet: calc(-1*(100vw - (670px + 40px))/2);


@import './mixins.scss';
@import './animations.scss';

@import './reusables/CustomButton/customButton.scss';
@import './reusables/CustomCurve/customCurve.scss';
@import './reusables/Carousel/customCarousel.scss';
@import './reusables/Form/customForm.scss';
@import './reusables/Loading/loading.scss';
@import './reusables/Clouds/clouds.scss';
@import './reusables/Solo/solo.scss';
@import './reusables/Mc/mc.scss';

.mikeyriver {
  background: $lightBlue;
  min-height: 100vh;
  overflow: hidden;

  max-width: $maxTabletWidth;
  margin: 0 auto;

  &:not(.loaded) > *:not(.lds-ripple) {
    display: none;
  }

  &.loaded {
    .lds-ripple {
      display: none;
    }
  }

  section { 
    text-align: center;
    min-height: 100vh;
    & > svg {
      width: 100%;
    }
  }

  h1 {
    color: $headerBlue;
    font-size: 3em;
    text-align: center;
    font-family: Space-Mono-Bold;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Space-Mono-Bold;
  }

  p {
    font-family: Space-Grotesk-Regular;
    font-size: 16px;
    line-height: 20px;
  }
  
  &__nav {
    & > div {
      @include container-padding;
      &:first-of-type {
        h1 {
          margin-top: 0px;
        }
        min-height: 100vh;

        @include flex-cAlign;
        flex-direction: column;

        // scroll down svg
        & > svg {
          width: 60%;
          height: auto;
          margin-top: 10vh;
          // position: absolute;
          // bottom: 30px;
        }
      }
      &:nth-of-type(2) {
        text-align: center;
        h2 {
          margin: auto;
          line-height: 47px;
          font-size: 32px;
        }
        p {
          margin-top: 30px;
        }
      }
    }

    &__dog {
      & > svg:first-of-type {
        transform: translate(53px, 29px);
      }
      @include flex-cJustify-cAlign;
      flex-direction: column;
    }
    ul {
      list-style: none;
      text-align: center;
      padding: 0px;
      margin: 0px;

      li {
        &:not(:first-of-type) {
          margin-top: 55px;
        }
        cursor: pointer;
        text-decoration: underline;
        color: $green;
        font-weight: bold;
        font-size: 1.5em;
      }
    }

    &__dp {
      width: 180px;
      height: 180px;
      background-size: cover !important;
      border-radius: 50%;
      margin: 5vh auto 2vh auto;
      border: 5px #AFB1B6 solid;
    }
  }

  &__basic {
    background: linear-gradient(180deg, $lightBlue 0%, $skyBlue 100%);
    padding: 30px 0px 155px 0px;

    & > div {
      @include img-p-container;
    }
  }

  &__music {
    position: relative;
    background: linear-gradient(180deg, #1A1A21 0%, #313063 100%);
    padding: 150px 0px 115px 0px;
    
    &__divider {
      width: 100%;
      position: absolute;
      top: -115px;
      left: 0px;
    }

    &__bloop {
      display: none;
    }

    & > div {
      @include img-p-container;
      h1 {
        color: white;
        margin-bottom: 10px;
      }
      color: white;
    }
  }

  &__resume {
    position: relative;
    @include container-padding;
    padding: 0px 20px 30px 20px;
    min-height: 1024px !important; 
  
    & > h1 {
      margin-top: 10px;
    }

    & > h2 {
      font-weight: 700;
      font-size: 32px;
      margin-top: 80px;
    }

    .customCarousel {
      & > .customCarousel__item {
        display: none;
      }
    }
  }

  &__form {
    padding: 1px 20px 100px 20px;
    background: #1A1A21;
  }

  // tablet
  @media(min-width: $maxMobileWidth) {
    &__nav {
      // scroll down svg
      & > svg {
        width: 280px !important;
        height: auto;
        transform: translateY(20px);
      }
      & > div:first-child {
        min-height: unset;
      } 
    }

    &__basic {
      min-height: 1200px !important;
      position: relative;
      & > div {
        p { padding: 0px 30px; }
      }
    }

    &__form {
      min-height: 60vh !important;
      .customForm {
        max-width: 550px;
        margin: 0 auto;
      }
    }

    &__music {
      min-height: 80vh !important;
      &__divider {
        top: -10vw;
      }
    }
  }

  // desktop
  @media(min-width: $maxTabletWidth) {
    max-width: 1920px;
    &__nav {
      svg:last-of-type {
        width: 230px !important;
        margin-top: 20px;
      }
      ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        li {
          margin-top: 0px !important;
          margin-right: 0px;
        }
      }
      & > div:nth-of-type(2) {
        @include flex-cAlign-cJustify;
        justify-content: space-between;
        margin-top: 70px;
        & > div:first-of-type {
          margin: 0px;
        }
        & > div:nth-of-type(2) {
          width: 60%;
          text-align: left;
        }
      }
    }

    &__basic {
      position: relative;
      & > div {
        p { padding: 0px 80px; }
      }
    }

    &__music {
      position: relative;
      &__bloop {
        position: absolute;
        display: block;
        &:nth-of-type(2) {
          bottom: 0px;
          right: 0px;
        }
        &:nth-of-type(3) {
          
        }
      }
    }
  }

  @media(min-width: 1280px) {
    &__music {
      &__divider {
        top: -80px;
      } 
    }

    &__resume {
      max-width: unset !important;
      .customCurve {
        left: 0 !important;
        top: -81px !important;
      }
      & > h1, p, .customButton {
        @include container-padding;
      }
      & > p {
        margin: 30px auto;
      }

      .customCarousel {
        left: unset;
        position: relative !important;
        width: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        .carousel-root {
          display: none;
        }

        &__item {
          display: block !important;
          padding: 30px 20px;
        }
      }
    }
  }

  @media(min-width: 1780px) {
    &__music {
      &__divider {
        top: -100px;
      } 
    }
  }
}
